---
layout: default
---

{% assign post = site.posts[0] %}

<h1>{{ post.title }}</h1>

{% if post.feature-image %}
  {% assign name = post.feature-image.name %}
  {% assign alt = post.feature-image.alt %}
  {% assign caption = post.feature-image.caption %}
  {% assign date = post.date %}
  {% assign title = post.title %}
  {% include figure.html 
    name=name
    alt=alt
    caption=caption
    date=date
    title=title
  %}
{% endif %}

{%- if post.date -%}{%- capture date -%}{{ post.date | date: '%B %d, %Y' }}{%- endcapture -%}{%- endif -%}
{%- if post.author -%}{%- capture author -%}{{ post.author }}{%- endcapture -%}{%- endif -%}
{%- include post-meta.html 
  date=date 
  author=author
-%}

{{ post.content }}

<h5>See more posts about</h5>

{% if post.categories %}
  {% for category in post.categories %}
    {% capture url %}/blog/categories/{{ category }}{% endcapture %}
    {% capture text %}{{ category }}{% endcapture %}
    {% include category-link.html
      url=url
      text=text
    %}
  {% endfor %}
{% endif %}

<hr/>

<p>{% include link-strong.html url='/blog' text='To All Blog Posts' %}</p>

<p>{% include link-strong.html url='/projects' text='Web Development Projects' %}</p>

<p>{% include link-strong.html url='/about' text='About Me' %}</p>
