<div class="nav-bar-spacer"></div>

<section class="content">
  <div class="spacer"></div>
    <h1 class="logo-font">Hello!</h1>
  <div class="spacer"></div>

  <p>
	I'm Shohei from Dayton, Ohio. I am still fairly new in learning about web development, my goal for this website is to document the things I learned and share it with the world. 
  </p>
  <p>
	If you're interested to see some code, check out my <a href="https://github.com/shohei-shibata">GitHub</a> and <a href="https://codepen.io/shoheishibata">CodePen</a> pages.
  </p>
  <p>
	If you'd like to contact me about anything, please click <a href="{{ "/contact/" | relative_url }}">here</a>!
  </p>
  <div class="spacer"></div>
  <div class="btns">
	<a class="btn btn-dark" href="{{ site.baseurl }}/">Back to home</a>
  </div>
</section>
