<form id="contact-form">
  <input type="hidden" name="contact_number">
  <label for="user_name">Name</label><br>
  <input class="contact-form-text" type="text" name="user_name" required><br>
  <label for="user_email">Email</label><br>
  <input class="contact-form-text" type="text" name="user_email" required><br>
  <label for="message">Comments</label><br>
  <textarea class="contact-form-textarea" name="message" cols="50" rows="8" required></textarea><br>
  <input type="submit" class="btn btn-primary contact-form-submit" value="Submit">
</form>
