<div class="page-section contact-form-container">
	<form class="contact-form" action="https://formspree.io/shohei.shibata.dev@gmail.com" method="POST">
		<div class="contact-form-row">
			<div class="contact-form-item">
				<small class="text-light">Name</small>
				<input name="name" type="text" required>
			</div>
			<div class="contact-form-spacer"></div>
			<div class="contact-form-item">
				<small class="text-light">Email</small>
				<input name="_replyto" type="email" required>
			</div>
		</div>
		<div class="contact-form-row grow">
			<div class="contact-form-item">
				<small class="text-light">Message</small>
				<textarea name="message" required></textarea>
			</div>
		</div>
		<br/>
		<div>
			<div class="mobile-only">
				<input class="btn btn-dark" type="submit">
			</div>
			<div class="desktop-only">
				<input class="btn btn-dark small center" type="submit">
			</div>
		</div>
	</form>
</div>
<div class="spacer"></div>
