{% if include.date %} 
  {% assign date = include.date %}
{% elsif page.date %}
  {% assign date = page.date %}
{% endif %}

{% if include.title %}
  {% assign title = include.title %}
{% elsif page.title %}
  {% assign title = page.title %}
{% endif %}

{% if include.image_url %}
  {% assign image_url = include.image_url %}
{% else %}
  {% capture image_url  %}/{{ date | date: "%Y-%m-%d" }}-{{ title | slugify }}/{{ include.name }}{% endcapture %}
{% endif %}

{% if include.linkUrl %}
  {% assign linkUrl = include.linkUrl %}
{% else %}
  {% assign linkUrl = "#" %}
{% endif %}

<figure class="figure-img">
  <a href="{{ linkUrl }}">
    <img src="{{site.baseurl}}/assets/posts{{image_url}}" alt="{{ include.alt }}">
  </a>
  <figcaption class="figure-img-caption"><small>{{ include.caption }}</small></figcaption>
</figure>
