<footer id="site-footer">
  <div id="footer-container">
    <small>© 2021 Shohei Shibata.</small>
    <div id="footer-social-icons-container">
      <a aria-label="github" href="https://github.com/shohei-shibata" class="footer-social-logo">
        <span aria-hidden="true" class="icon-github"></span>
      </a>
      <a aria-label="linkedin" href="https://www.linkedin.com/in/shohei-shibata-53867a41/" class="footer-social-logo">
        <span aria-hidden="true" class="icon-linkedin"></span>
      </a>
      <a aria-label="email" href="/contact" class="footer-social-logo">
        <span aria-hidden="true" class="icon-envelop"></span>
      </a>
    </div>
  </div>
</footer>
