<footer id="site-footer">
  <div id="footer-container">
    <small>© 2021 Shohei Shibata.</small>
    <div id="footer-social-icons-container">
      <a aria-label="github" href="https://github.com/shohei-shibata" class="footer-social-logo"><i aria-hidden="true" class="fab fa-github fa-lg"></i></a>
      <a aria-label="linkedin" href="https://www.linkedin.com/in/shohei-shibata-53867a41/" class="footer-social-logo"><i aria-hidden="true" class="fab fa-linkedin fa-lg"></i></a>
      <a aria-label="email" href="mailto:shohei.shibata.dev@gmail.com" class="footer-social-logo"><i aria-hidden="true" class="fa fa-envelope fa-lg"></i></a>
    </div>
  </div>
</footer>
