<header>
    <div class="banner">
        <img src="{{ site.baseurl }}/assets/images/kelly-sikkema-580858-unsplash.jpg">
        <div class="banner-text-overlay">
            <h1 class="logo-font">Hello, I'm Shohei.</h1>
            <h4 class="sans-serif">Web Designer / Developer in Dayton, Ohio</h4>
        </div>
    </div>
    <h3 class="sans-serif">Let's Create Together</h3>
    <p>A simple and effective website to let the world learn about your business or organization.</p>
    <p>A fully interactive web application to build a new online community, or to realize your idea for an online tool.</p> 
    <p>Your idea. Your mission. I’d love to help build it.</p>
    <div class="mobile-only">
        <a class="btn btn-dark" href="{{ site.baseurl }}/contact">Contact me</a>
    </div>
    <div class="desktop-only">
        <a href="{{ site.baseurl }}/contact">Contact me >></a>
    </div>
</header>