<header>
    <div class="banner">
            <h1 class="logo-font">Hi there.</h1>
    </div>
    <p>I'm Shohei from Dayton, Ohio and this is my blog. I'm just getting started on this so there isn't much to see yet... sorry!</p>

    <p>This is my attempt at getting into a writing habit. There is no set topic or anything. My only goal is to publish something here regularly. If it can provide something interesting for you to read, that would be a nice bonus as well!</p>

    <div class="mobile-only">
        <a class="btn btn-dark" href="{{ site.baseurl }}/about">About me</a>
    </div>
    <div class="desktop-only">
        <a href="{{ site.baseurl }}/about">About me >></a>
    </div>
</header>