<header>
    <div class="banner">
        <img src="{{ site.baseurl }}/assets/images/kelly-sikkema-580858-unsplash.jpg">
        <div class="banner-text-overlay">
            <h1 class="logo-font">Hello, I'm Shohei.</h1>
            <h4 class="sans-serif">Web Designer / Developer in Dayton, Ohio</h4>
        </div>
    </div>
    <h3 class="sans-serif">Let's Build It Together</h3>
    <p>People are working hard to accomplish some amazing things, and I'm just happy to help with the web part of it.</p>
    <p>From static websites to interactive web applications, or even just to talk and help you figure out what you need. No job is too small or too big. Let's talk!</p>
    <div class="mobile-only">
        <a class="btn btn-dark" href="{{ site.baseurl }}/contact">Contact me</a>
    </div>
    <div class="desktop-only">
        <a href="{{ site.baseurl }}/contact">Contact me >></a>
    </div>
</header>