<!DOCTYPE html>
<html lang="en">

  {% include head %}

  <body>
    
    {% include nav %}

    <main>
      {{ content }}
      <div class="links-container">
        {%- if page.url != "/" -%}
          <a href="/">>> Back to home</a>
        {%- endif -%}
      </div>
    </main>

    {% include footer %}

  </body>
</html>

