<!DOCTYPE html>
<html lang="en">

  {% include head %}

  <body>
    
    {% include nav %}

    <main>
      {{ content }}
      {%- if page.url != "/" -%}
        <div class="links-container">
            <a href="/">>> Back to home</a>
        </div>
      {%- endif -%}
    </main>

    {% include footer %}

  </body>
</html>

