<nav>
  <div id="header-title">
    <h1><a href="/">Shohei Shibata</a></h1>
  </div>
  <div id="nav-container">
    <ul>
      <li>
        <a href="/about">
          <small>About</small>
        </a>
      </li>
      <li>
        <a href="/blog">
          <small>Blog</small>
        </a>
      </li>
    </ul>
  </div>
</nav>
