<nav>
  <div class="title">
    <h1><a href="/">Shohei Shibata</a></h1>
  </div>
  <div id="nav-container">
    <ul>
      {% for item in site.data.pages %}
        {% if page.url contains item.url %}
          <li>
            <a href="{{ item.url }}" class="current">
              <small>{{ item.text }}</small>
            </a>
          </li>
        {% else %}
          <li>
            <a href="{{ item.url }}">
              <small>{{ item.text }}</small>
            </a>
          </li>
        {% endif %}
      {% endfor %}
          <li>
            <div id="theme-toggle-container">
              <label class="switch">
                <input type="checkbox" name="theme-toggle">
                <small id="theme-toggle-icon">
                  <i class="fas fa-moon"></i>
                  / 
                  <i class="fas fa-sun"></i>
                </small>
              </label>
            </div>                   
          </li>
    </ul>
  </div>
  <div id="nav-mobile-toggle">
    <i id="nav-mobile-icon-menu" class="fas fa-bars fa-2x"></i>
    <i id="nav-mobile-icon-close" class="fas fa-times fa-2x"></i>
  </div>
</nav>
