<nav>
  <div class="title">
    <h1><a href="/">Shohei Shibata</a></h1>
  </div>
  <div class="nav-container">
    <ul>
      {% for item in site.data.pages %}
        {% if page.url contains item.url %}
          <li>
            <a href="{{ item.url }}" class="current">
              <small>{{ item.text }}</small>
            </a>
          </li>
        {% else %}
          <li>
            <a href="{{ item.url }}">
              <small>{{ item.text }}</small>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div id="toggle-dark-mode-container">
    <label class="switch">
      <input type="checkbox" id="toggle-dark-mode">
      <span class="slider"></span>
    </label>
  </div>
</nav>
