---
layout: layout.liquid
---

<h1>{{ title }}</h1>
<small class="post-date">{{ date | formatDate }}</small>

<article id="post-content">
  {{ content }}
</article>

<div class="links-container">
  <a href="/blog">>> Back to all posts</a>
</div>
