@charset "utf-8";

// Define defaults for each variable.

$logo-font-family: 'Pacifico', cursive !default;
$logo-font-size:   40px;

$sans-serif-font-family: 'Open Sans', sans-serif;

$base-font-family: 'Open Sans', sans-serif, !default;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.8 !default;

$heavy-font-weight: 600;

$spacing-unit:     30px !default;

$text-color:       #222 !default;
$background-color: #fdfdfd !default;
$brand-color:      #222 !default;

$almost-black:     #222 !default;
$white-color:      #fdfdfd !default;
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$nav-height: 50px;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$footer-height:    80px;

$on-desktop:        500px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "components/button",
  "components/contact-form",
  "components/nav",
  "components/blog-post",
  "components/page"
;

@import url("https://use.fontawesome.com/releases/v5.0.12/css/all.css")
