@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

body {
	overflow-x: hidden;
	background-color: #fff;
	color: #222;
	font-size: calc(12px + 0.75vw);
	font-family: "Open Sans", sans-serif; 
	margin: 0;
}

/*
    TYPOGRAPHY
*/

.title {
	font-family: "Pacifico",cursive;
}
.title a {
  text-decoration: none;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

h1, h2, h3, h4, h5, h6 {
	margin: 1.5em 0 1.5em 0;
  text-transform: capitalize;
}

h1 { 
	font-size: 1.69em; 
	line-height: calc(18px + 0.7em);
  text-align: center;
  font-weight: bold;
}
h2 { font-size: 1.616em; }
h3 { font-size: 1.471em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.243em; }
h6 { font-size: 1.132em; }
p, a { 
	font-size: 1em; 
	margin: 0 0 1.5em 0;
	letter-spacing: -0.002em;
  color: currentColor;
  line-height: 1.6em;
}
small { font-size: 0.769em; }

hr {
  margin: 3em 0;
}

/*
    COMPONENTS
*/

.btn {
  color: inherit;
	font-size: 1.243em;
	text-transform: uppercase;
	background-color: transparent;
	border: solid 2px #e0c38d;
	border-radius: 2px;
	padding: 0.5em 3em;
  transition: all 0.1s;
}
.btn:hover,
.btn:focus {
	cursor: pointer;
	background-color: #e0c38d;
  outline: none;
}
.btn:disabled {
  cursor: initial;
  background-color: #ddd;
  border-color: #ddd;
  color: #888;
}
.btn-small {
  font-size: 1em;
  padding: 0.1em 0.5em;
}

a.link-strong { 
  display: inline-block;
  color: inherit; 
  text-transform: uppercase;  
  text-decoration: none;
  border-bottom: 0.2em solid #e0c38d;
  line-height: 0.75em;
  margin: 0;
}
a.link-strong::before {
  content: ">> ";
}

img {
  width: 100%;
  height: auto;
}

figure {
  margin: 1.5em 0;
}

figcaption {
  text-align: center;
  color: #aaa;
}

code {
  display: inline-block;
  background-color: #ddd;
  border-radius: 3px;
  padding: 0 0.5em;
}

/*
    NAV
*/

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px #ddd;
  padding-bottom: 1em;
}

.title h1 {
  margin: 0.5em 0;
}

.nav-container ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}
.nav-container li,
.nav-container small {
  display: inline;
}
.nav-container small {
  margin: 0 1em;
  text-transform: uppercase;
}
.nav-container a,
.nav-container .current {
  display: inline-block;
  text-decoration: none;
  line-height: 1em;
  margin: 0;
}
.nav-container a:hover,
.nav-container a:focus,
.link-strong:hover,
.link-strong:focus,
.nav-container .current {
  border-bottom: 0.5em solid #e0c38d;
  line-height: 0.1em;
  outline: none;
}

/*
    MAIN CONTENT 
*/

main {
  width: 80vw;
  max-width: 800px;
  min-height: 80vh;
  margin: 0 auto 3em auto;
  animation: fade-in 0.2s;
}

/*
    FOOTER
*/

footer {
	background-color: #AAA;
	color: #fff;
	padding: 0.5em;
}
#footer-container {
	width: 100%;
	max-width: 800px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#footer-container small {
	max-width: 50vw;
}
.footer-social-logo {
	margin: 0 0 0 0.3em;
  transition: all 0.3s;
  color: currentColor;
}
.footer-social-logo:hover,
.footer-social-logo:focus {
  color: #222;
  outline: none;
}


/* 
    CONTACT FORM 
*/


#contact-form label {
	font-size: 1.243em;
	/*color: #eee;*/
	/*opacity: 1;*/
	text-transform: uppercase;
}
.contact-form-text,
.contact-form-textarea {
  color: inherit;
	background-color: transparent;
	width: calc(100% - 4px);
	margin-bottom: 1em;
	border: solid 1px;
	font-size: 1em;
  border-color: currentColor;
  outline: none;
}
.contact-form-text.dark,
.contact-form-textarea.dark {
	border-color: #eee;
}
.contact-form-text {
	border-left: none;
	border-right: none;
	border-top: none;
}
.contact-form-textarea {
	resize: none;
}
.contact-form-submit {
	display: block;
	margin: auto;
}
#contact-form-submit-status {
  text-align: center;
}
