:root {
  --background-color-primary: #eee;
  --background-color-secondary: #ddd;
  --background-color-code: #333;
  --color-cards-bg: #fff;
  --color-cards-shadow: #ddd;
  --color-text-primary: #222;
  --color-text-secondary: #eee;
  --spacing-section-vertical: 5rem;
  --width-text-area: 700px;
  --width-text-area-narrow: 600px;
  --width-main-content: 900px;
}
body {
  background-color: var(--background-color-primary);
  margin: 0;
  color: --color-text-primary;
  font-size: calc(12px + 0.65vw);
	font-family: "Open Sans", sans-serif; 
  min-height: 100vh;
  text-align: justify;
}
h1, h2, h3, h4, h5, h6, p, pre {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-text-area);
}
ul, li {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-text-area-narrow);
  line-height: 2.5rem;
}
h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
	font-size: 1.69em; 
}
h2 { font-size: 1.616em; }
h3 { font-size: 1.471em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.243em; }
h6 { font-size: 1.132em; }
p, a { 
	font-size: 1em; 
	letter-spacing: -0.002em;
  color: currentColor;
  line-height: 1.6em;
}
small { font-size: 0.769em; }
a {
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
  opacity: 0.7;
}
pre {
  color: var(--color-text-secondary);
  line-height: 2rem;
  background-color: var(--background-color-code);
  padding: 1rem;
  border-radius: 3px;
  box-sizing: border-box;
  overflow-x: scroll;
}
code {
  color: var(--color-text-primary);
  background-color: var(--background-color-secondary);
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
}
pre code {
  color: inherit;
  background-color: inherit;
  padding: 0;
}
hr {
  margin: 6rem auto;
  max-width: var(--width-text-area);
}
main {
  margin: var(--spacing-section-vertical) auto;
  padding: 0 5vw;
  max-width: var(--width-main-content);
}
nav {
  background-color: var(--background-color-secondary);
  text-align: center;
  padding: 1rem 0;
}
section {
  margin: var(--spacing-section-vertical) auto;
}
img {
  margin: 3rem auto;
  max-width: var(--width-main-content);
}
#footer-container {
  margin: auto;
  padding: 1rem 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--width-text-area);
}
#footer-social-icons-container a {
  margin-right: 10px;
  color: var(--color-text-primary);
}
#footer-social-icons-container a:last-child {
  margin-right: 0;
}
#header-title {
  font-family: Pacifico;
}
#header-title a {
  text-decoration: none;
  color: #000;
}
#header-title h1 {
  margin-bottom: 1rem;
}
#nav-container ul {
  padding: 0;
}
#nav-container li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}
#nav-container li:last-child {
  margin-right: 0;
}
#nav-container a {
  color: var(--color-text-primary);
  text-transform: lowercase;
}
#post-content {
  margin-bottom: 3rem;
}
.links-container {
  max-width: var(--width-text-area);
  margin: auto;
}
.links-container:first-child {
  margin-top: 3rem;
}
.list-posts ul {
  padding: 0;
}
.list-posts li {
  list-style-type: none; 
  margin-bottom: 3rem;
}
.list-posts a {
  display: block;
  font-weight: normal;
  padding: 3rem;
  background-color: var(--color-cards-bg);
  box-shadow: 3px 3px 10px var(--color-cards-shadow);
}
.list-posts a:hover {
  text-decoration: none;
}
.list-posts h1,
.list-posts h2,
.list-posts h3,
.list-posts h4,
.list-posts h5,
.list-posts h6 {
  margin: 0;
}
.list-posts p {
  margin-bottom: 0;
}
.post-date {
  text-align: center;
  display: block;
}
.list-posts ul,
.list-posts li {
  max-width: var(--width-text-area);
}
