.container {
  margin: auto;
  max-width: 800px;
  font-family: sans-serif;
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-desktop ul {
  display: flex;
  gap: 10px;
}

.nav-desktop li {
  list-style-type: none;
}

.nav-desktop a {
  text-decoration: none;
  color: var(--text-color-primary);
}

.nav-desktop li a {
  padding: 5px;
  border-radius: 3px;
}

.nav-desktop li a:hover,
.activeLink {
  background-color: #efefef;
}

.activeLink {
  cursor: default;
}

.logo {
  font-family: "Pacifico", sans-serif;
}

.page-title-heading {
  text-align: center;
}
.page-title-hr {
  margin-bottom: 40px;
  width: 300px;
  opacity: 0.2;
}

@media screen and (max-width: 768px) {
  .nav-desktop {
    justify-content: center;
  }
  .nav-desktop ul {
    display: none;
  }
}