@keyframes fade-in-out {
    0%   {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
      transform: translateY(10vh);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

.text-background {
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 0 50px 20px rgba(255,255,255,0.5);
}

.welcome,
.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    animation: fade-in-out 2s both;
}

.intro {
    animation: fade-in 1s 2s both;
}

.intro button {
    animation: fade-in 1s 3s both;
}