<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shohei Shibata | {{ title }}</title>
  <meta name="description" content="Personal website for Shohei Shibata, a freelance web developer. ">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/fonts.css">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"> 
  <link rel='shortcut icon' type='image/x-icon' href='/assets/favicon.ico' />
</head>

