<div class="list-posts">
  <ul>
  {%- for post in collections.post reversed -%}
    <li>
      <a href="{{ post.url }}">
        <h2>{{ post.data.title }}</h2>
        {%- if post.data.description -%}
          <p>{{ post.data.description }}</p>
        {%- endif -%}
      </a>
    </li>
  {%- endfor -%}
  </ul>
</div>
