@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Toggle desktop and mobile modes
 */
.desktop-only {
    display: none;
    @include media-query($on-desktop) {
		  display: unset;
	  }
}
.mobile-only {
    display: unset;
    @include media-query($on-desktop) {
  		display: none;
    }
}
.mobile-only button {
	width: 100%;
}


/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
  animation: fade-in 0.5s;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, ol, ul 
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

h1 {
	font-size: 32px;
}

a {
	color: #222;
	font-weight: 600;
}

.sans-serif {
	font-family: $sans-serif-font-family;
	text-transform: uppercase;
	font-weight: 300;
}
.sans-serif.heading {
	font-size: 2em;
	font-weight: 600;
}

.logo-font {
	font-family: $logo-font-family, cursive;
	font-size: $logo-font-size;
	margin: 0;
}

.text-light {
	color: $grey-color;
}
.text-light.italic {
	font-style: italic;
}

/**
 * section break
 */
 
hr {
  border: none;
  border-top: solid 1px $grey-color-light;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

.in-text-image {
	width: 100%;
	max-width: 500px;
	margin: 50px auto;
}
.in-text-image img {
	display: block;
	width: inherit;
	object-fit: cover;
}


/**
 * Figures
 */
figure > img {
  display: block;;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $heavy-font-weight;
}

/**
 * Paragraph
 */
p {
  line-height: $base-line-height;
}
/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  width: $content-width;
  max-width: -webkit-calc(100vw - #{$spacing-unit});
  max-width:         calc(100vw - #{$spacing-unit});
  min-height: -webkit-calc(100vh - #{$footer-height});
  min-height:         calc(100vh - #{$footer-height});
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  
  @extend %clearfix;

}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

/**
 * Flexbox
 */
.flex-last {
  order: 999;
}
