/* POST */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-desktop) {
    @include relative-font-size(2.25);
  }
}
.post-container {
    width: 100%;
	margin-bottom: $spacing-unit;
}
.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-desktop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-desktop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-desktop) {
      @include relative-font-size(1.125);
    }
  }

  figure {
    width: 100%;
    margin: $spacing-unit auto;

    @include media-query($on-desktop) {
      width: #{$content-width * 0.5};
    }
  }
  img {
	display: block;
	flex-grow: 0;
	width: 100%;
    height: calc(100vw * 0.75);
    margin-bottom: #{$spacing-unit * 0.5};
	object-fit: cover;
	filter: brightness(90%);
	@include media-query($on-desktop) {
		width: #{$content-width * 0.4};
		height: #{$content-width * 0.3};
	}
  }
  img {
	width: 100%;
	height: calc(#{($content-width - $spacing-unit) * 0.5 * 0.75});
  }

  span {
	margin-right: 5px;
  }
}
.post-content-text {
	@include media-query($on-desktop) {
		margin-left: $spacing-unit;
	}
}

.post-banner {
    position: relative;
    width: 100%;
	max-height: 200px;
	min-height: 100px;
	margin: 10px auto;

	img {
		width: inherit;
		max-height: inherit;
		object-fit: cover;
		filter: brightness(40%);
		display: block;
	}
}

.post-header {
	span {
		margin-right: #{$spacing-unit * 0.5};
	}
	.btn {
		margin-top: $spacing-unit;
	}
}

.post-banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
	margin: 0;
    text-align: center;
	color: #eee;
}

.post-tags {
    text-align: center;
}
