.btn {
    font-size: $base-font-size;
	font-family: $sans-serif-font-family;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	display: block;
}


.btn:hover {
	cursor: pointer;
}
	
.btn-light, .btn-dark {
	width: 100%;
	border: solid 0.5px $almost-black;
	padding: #{$spacing-unit * 0.5} 0;
	margin: 0 auto;
	@include media-query($on-desktop) {
		width: calc(50% - #{$spacing-unit});
		max-width: 200px;
		padding: #{$spacing-unit * 0.5};
	}
}
.btn-nav {
	width: 100px;
	padding: 5px 0;
	margin: 0;
}
.btn-light {
	background-color: transparent;
	color: $almost-black;
}

.btn-light:hover {
	background-color: $almost-black;
	color: $white-color;
}

.btn-dark {
	background-color: $almost-black;
	color: $white-color;
}

.btns {
	display: flex;
	flex-direction: column;
	@include media-query($on-desktop) {
		flex-direction: row;
		justify-content: space-around;
	}
}