.page-banner {
    position: relative;
    max-height: 200px;
    min-height: 100px;
    background-color: #222;
    z-index: -1;
}

.page-header {
	span {
		margin-right: #{$spacing-unit * 0.5};
	}
	.btn {
		margin-top: $spacing-unit;
	}
}

.page-banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
	margin: 0;
    text-align: center;
	color: #eee;
}

.page-section {
	margin-top: $spacing-unit;

}

.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	margin-left: -50vw;
}

