---
layout: default
---

<div class="page-header">
	<div class="page-banner full-width">
		<h1 class="page-banner-title sans-serif heading">{{ page.title | escape }}</h1>
	</div>
</div>  

<div class="content">
  {%- if site.posts.size > 0 -%}
    <section class="page-section">
        {%- for post in site.posts -%}
          {%- if post.categories contains "Blog" -%}
          <div class="post-content">
                <h2>{{ post.title | escape }}</h2>
                <p class="text-light">
                    {% for item in post.tags %}
		    	{%- if item != "Featured" -%}
                        <span>{{ item }}</span>
			{%- endif -%}
                    {% endfor %}
                </p>
                {{ post.excerpt }}
                <div class="desktop-only">
                  <a href="{{ post.url | relative_url }}">Read more >></a>
                </div>
                <div class="mobile-only">
                  <a class="btn btn-light" href="{{ post.url | relative_url }}">Read more</a>
                </div>
          </div>
          {%- endif -%}
        {%- endfor -%}
    </section>
  {%- endif -%}
  <div class="btns">
	  <a class="btn btn-dark" href="{{ site.baseurl }}/">Back to home</a>
  </div>
</div>
