---
layout: default
---

<div class="section-header">
  <h1>{{ page.title | escape }}</h1>
  {%- if page.subtitle -%}
    <p>{{ page.subtitle | escape }}</p>
  {%- endif -%}
</div>

<div class="content">
  {%- if site.posts.size > 0 -%}
    <section class="page-section">
      <div class="project-section">
        {%- for post in site.posts -%}
          {%- if post.tags contains "Featured" -%}
          <div class="project-item">
              <div class="project-item-text">
                <h2>{{ post.title | escape }}</h2>
                <p class="text-light">
                    {% for item in post.tags %}
			{% if item != "Featured" %}
                          <span>{{ item }}</span>
			{% endif %}
                    {% endfor %}
                </p>
                {{ post.content }}
                <div class="desktop-only">
                  <a href="{{ post.url | relative_url }}">Read more >></a>
                </div>
                <div class="mobile-only">
                  <a class="btn btn-light" href="{{ post.url | relative_url }}">Read more</a>
                </div>
              </div>
          </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </section>
  {%- endif -%}
<div class="mobile-only">
	<a class="btn btn-dark" href="{{ site.baseurl }}/blog">To all blog posts</a>
</div>
<div class="desktop-only">
	<a href="{{ site.baseurl }}/blog">To all blog posts >></a>
</div>
<div class="spacer"></div>
</div>
