---
layout: default
---

<div class="content">
  {%- if site.posts.size > 0 -%}
    <section class="content">
        {%- for post in site.posts -%}
          {%- if post.tags contains "Featured" -%}
	  {% include post-header.html title=post.title tags=post.tags %}
          <div class="post-content">
                {{ post.content }}
          </div>
          {%- endif -%}
        {%- endfor -%}
    </section>
  {%- endif -%}
<div class="mobile-only">
	<a class="btn btn-dark" href="{{ site.baseurl }}/blog">To all blog posts</a>
</div>
<div class="desktop-only">
	<a href="{{ site.baseurl }}/blog">To all blog posts >></a>
</div>
<div class="spacer"></div>
</div>
