html, body {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

body {
    display: flex;
}

.page-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
}

.main-container {
    position: fixed;
    min-width: 600px;
    width: calc(100vw - 300px);
    height: 100vh;
    margin: 0;
    padding: 0;
    background: radial-gradient(#ffffff 30%, #eee 90%);
}
.main-contents {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100vw - 300px);
    height: 100%;
    margin: 0;
    padding: 0;
    
    top: 0;
    transition: top 0.5s;
}
.main-contents.off {
    top: -1000px;
    transition: top 0.5s;
}
.main-headline {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    color: #222;
}
.main-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 500px;
}
.main-filters-btn {
    background: linear-gradient(to right, #ccc, #eee, #ccc);
    box-shadow: 2px 2px 5px #aaa;
    color: #333;
    margin: 10px;
    width: 100px;
    line-height: 30px;
    text-align: center;
}

.alt-contents {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100vw - 300px);
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222;
    
    top: 0;
    left: 0;
    transition: left 0.5s;
}
.alt-contents.off {
    left: -2000px;
    transition: left 0.5s;
}
.alt-contents-card {
    width: 60%;
    height: 60%;
    background-color: #eee;
    border-radius: 5px;
    padding: 50px;
}

.projects-container {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: visible;
    background-color: #888;
    margin: 0;
    padding: 0;
    color: white;
}
.projects-card {
    background-color: #888;
    border: none;
    width: 300px;
    height: 200px;
    line-height: 200px;
    filter: grayscale(100%);
    text-align: center;
}
.projects-card:hover {
    filter: grayscale(30%);
}
.projects-card-text {
    font-size: 1.5em;
    text-shadow: 3px 3px 3px #333;
    opacity: 0;
}
.projects-card:hover .projects-card-text {
    opacity: 1;
    transition: opacity 0.5s;
}

.footer {
    position: fixed;
    top: calc(100vh - 120px);
    left: 0;
    height: 100px;
    width: 80%;
    min-width: 600px;
    max-width: calc(100vw - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.footer-nav {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}
.footer-nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0 50px;
    padding: 5px;
    width: 100px;
    text-align: center;
    border: solid 0.5px #888;
    color: #888;
}

.footer-nav li:hover {
    color: #e9b1cd;
    border-color: #e9b1cd;
    transition: color border-color 0.2s;
    cursor: pointer;
}

.footer-copyright {
    color: #888;
}

.about {
    font-size: 1.3em;
}
