@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes slide-up {
    0%   { transform: translateY(100vh) }
    100% { transform: translateY(0) }
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    /*overflow: hidden;*/
}

body {
    display: flex;
}

.page-container {
    position: fixed;
    width: calc(100vw - 300px);
    top: 0;
    left: 0;
    transition: top 0.5s;
}
.page-container.shift {
    top: -100vh;
    transition: top 0.5s;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background: radial-gradient(#ffffff 30%, #eee 90%);
}
.main-contents {
    margin-top: 25vh;
}
.main-headline {
    width: 100%;
    max-width: 500px;
    color: #222;
}
.main-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 500px;
}
.main-filters-btn {
    background: linear-gradient(to right, #ccc, #eee, #ccc);
    box-shadow: 2px 2px 5px #aaa;
    color: #333;
    margin: 20px 20px 0 0;
    width: 100px;
    line-height: 30px;
    text-align: center;
}

.alt-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-color: #222;
}

.alt-contents-card {
    width: 50%;
    background: linear-gradient(to right, #ccc, #eee, #ccc);
    border-radius: 5px;
    padding: 20px 50px;
    margin-top: 10vh;
}


.projects-container {
    position: relative;
    left: calc(100vw - 300px);
    width: 300px;
    overflow: visible;
    background-color: #222;
    margin: 0;
    padding: 0;
    color: white;
    min-height: 100vh;
}
.projects-card {
    background-color: #888;
    border: none;
    width: 300px;
    height: 200px;
    line-height: 200px;
    filter: grayscale(100%);
    text-align: center;
}
.projects-card:hover {
    filter: grayscale(30%);
}
.projects-card-text {
    font-size: 1.5em;
    text-shadow: 3px 3px 3px #333;
    opacity: 0;
}
.projects-card:hover .projects-card-text {
    opacity: 1;
    transition: opacity 0.5s;
}

.nav {
    position: fixed;
    top: 87vh;
    left: 0;
    width: calc(100vw - 300px);
    transition: top 0.5s;
}
/*.nav.shift {
    top: 2vh;
    transition: top 0.5s;
}*/
.nav-container {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
}
.nav-container li {
    list-style-type: none;
    display: inline-block;
    margin: 0 2vw;
    padding: 5px;
    width: 100px;
    text-align: center;
    border: solid 0.5px #888;
    color: #888;
}

.nav-container li:hover {
    color: #b50c67;
    border-color: #b50c67;
    transition: color border-color 0.2s;
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: calc(100vw - 300px);
}
.footer-copyright {
    color: #888;
    text-align: center;
}

.about {
    width: 100%;
    max-width: 700px;
    margin: auto;
    font-size: 2.3vh;
    line-height: 1.5em;
    animation: fade-in 1s
}
.about h3 {
    text-align: center;
}
.about-photo {
    display: block;
    float: right;
    width: 20vh;
    margin: 0 0 30px 80px;
    border-radius: 5%;
}

.contact {
    font-size: 3vh;
    line-height: 2em;
    text-align: center;
    animation: fade-in 1s;
}
.contact h3 {
    margin-bottom: 0;
}
.contact-form-item {
    margin: 10px 2.5%;
    padding: 0 2.5%;
    border: none;
    font-family: inherit;
    font-size: 0.8em;
    line-height: 2em;
}
.contact-form-item.name {
    width: 40%;
}
.contact-form-item.email {
    width: 40%;
}
.contact-form-item.subject {
    width: 90%;
}
.contact-form-item.message {
    width: 90%;
}
.contact-form-submit {
    width: 10%;
    margin: 0 45%;
    font-size: 0.8em;
}

.project-detail {
    font-size: 1.5em;
    color: #bbb;
    text-align: center;
    padding: 30px;
    margin-top: 5vh;
    width: 60%;
    
    animation: fade-in 0.5s;
}
.project-detail-links a {
    color: #bbb;
    margin: 2vw;
}
.project-detail img {
    width: 80%;
    max-width: 50vh;
}