html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.main-container {
    display: inline-block;
    background-color: white;
    width: 500px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.projects-container {
    display: inline-block;
    background-color: black;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}