---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
const siteTitle = import.meta.env.PUBLIC_SITE_TITLE;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle} | {title}</title>
    <ClientRouter />
  </head>
  <body>
    <div class="container">
      <Nav/>
      <main class="box" transition:animate="slide">
        <slot />
      </main>
      <Footer/>
    </div>
  </body>
</html>

<script>
  function applyTheme() {
    const bodyElement = document.querySelector("body");
    const storedTheme = localStorage.getItem("theme") || "light";
    storedTheme === "dark"
      ? bodyElement?.classList.add("dark")
      : bodyElement?.classList.remove("dark");
  }
  document.addEventListener("astro:after-swap", applyTheme);
  document.addEventListener("astro:page-load", (e) => {
    applyTheme();
    const bodyElement = document.querySelector("body");
    const triggers = document.getElementsByClassName("theme-trigger");
    for (const trigger of triggers) {
      trigger.addEventListener("click", (e) => {
        bodyElement?.classList.toggle("dark");
        if (bodyElement?.classList.contains("dark")) {
          localStorage.setItem("theme", "dark");
        } else {
          localStorage.setItem("theme", "light");
        }
      });
    }
  });
</script>

<style is:global>
  body {
    /* colors */
    --black-fade-5: rgba(0, 0, 0, 0.05);
    --black-fade-40: rgba(0, 0, 0, 0.4);
    --grey-90: #232129;
    --grey-80: #322f3a;
    --grey-50: #555;
    --grey-20: #ddd;
    --green-80: #088413;
    --green-50-rgb: 55, 182, 53;
    --white: #ffffff;
    --yellow: #dcab4e;

    /* background colors */
    --background-color-primary: var(--white);
    --background-color-mobile-nav: var(--grey-90);
    --link-hover: var(--grey-20);

    /* text colors */
    --color-text-primary: var(--grey-90);
    --color-text-secondary: var(--grey-50);

    /* shadow */
    --box-shadow: rgba(149, 157, 165, .5) 0px 8px 24px;

    --spacing-section-vertical: 5rem;
    --width-text-area: 700px;
    --width-text-area-narrow: 600px;
    --width-main-content: 900px;
    --width-mobile-transition: 700px;
    --mobile-nav-height: 75px;

    /* radii */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-rounded: 999px;

    /* spacing */
    --space-sm: 4px;
    --space-md: 8px;
    --space-lg: 16px;
    --space-xl: 20px;
    --space-2xl: 24px;
    --space-3xl: 48px;

    /* line-height */
    --solid: 1;
    --dense: 1.25;
    --default: 1.5;
    --loose: 2;

    /* letter-spacing */
    --tracked: 0.075em;
    --tight: -0.015em;

    /* font-weight */
    --body: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;

    /* font-size */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 32px;
  }
  body.dark {
    /* background colors */
    --background-color-primary: var(--grey-90);
    --background-color-mobile-nav: var(--grey-90);
    --link-hover: var(--grey-80);

    /* text colors */
    --color-border: #aaa;
    --color-cards-bg: #fff;
    --color-cards-shadow: #ddd;
    --color-text-primary: var(--white);
    --color-text-secondary: var(--grey-50);

    /* shadow */
    --box-shadow: rgba(3, 3, 3, 0.352) 0px 8px 24px;
  }
  body {
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--background-color-primary);
    color: var(--color-text-primary);
    transition: background-color 0.2s;
  }
  main {
    min-height: 50vh;
  }
  p {
    line-height: var(--text-2xl);
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  button {
    border: none;
    background-color: transparent;
  }
  button:hover {
    cursor: pointer;
  }
  .box {
    box-shadow: var(--box-shadow);
    padding: var(--space-xl) var(--space-3xl);
    margin: 0;
    border-radius: 5px;
  }
  .btn {
    border: 0;
    border-radius: var(--radius-sm);
    padding: var(--space-md) var(--space-lg);
    font-size: var(--text-md);
    background-color: transparent;
    color: inherit;
    border: solid 1px var(--color-text-primary);
  }
  .btn:hover {
    cursor: pointer;
    background-color: var(--link-hover);
  }
  #footer-container {
    margin: auto;
    padding: 1rem 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--width-text-area);
  }
  #footer-social-icons-container a {
    margin-right: 10px;
    color: var(--color-text-primary);
    font-size: 2rem;
  }
  #footer-social-icons-container a:last-child {
    margin-right: 0;
  }
  #footer-social-icons-container a:hover {
    text-decoration: none;
  }
  #header-title {
    font-family: Pacifico;
  }
  #header-title a {
    text-decoration: none;
    color: #000;
  }
  #header-title h1 {
    margin: 0;
  }
  #nav-container ul {
    padding: 0;
    margin: 0;
  }
  #nav-container li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
  }
  #nav-container li:last-child {
    margin-right: 0;
  }
  #nav-container a {
    color: var(--color-text-primary);
    text-transform: lowercase;
  }
  #post-content {
    margin-bottom: 3rem;
  }
  .links-container {
    max-width: var(--width-text-area);
    margin: auto;
  }
  .links-container:first-child {
    margin-top: 3rem;
  }
  .link {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
    color: var(--color-text-primary);
  }
  .link:hover,
  .link[aria-current="page"] {
    background-color: var(--link-hover);
    text-decoration: none;
  }
  .link-inline {
    text-decoration: none;
    color: var(--color-text-primary);
    font-weight: var(--semibold);
  }
  .link-inline:hover {
    text-decoration: underline;
  }
  .container {
    margin: auto;
    padding: 0 var(--space-lg);
    max-width: 800px;
    font-family: sans-serif;
  }
  .page-title-heading {
    text-align: center;
  }
  .page-title-hr {
    margin-bottom: 40px;
    width: 300px;
    opacity: 0.2;
  }

  @media screen and (max-width: 768px) {
    body {
      padding-bottom: var(--mobile-nav-height);
      margin-bottom: 0;
    }
    .box {
      padding: var(--space-xl) var(--space-lg);
    }
  }
</style>
