---
import Layout from './Layout.astro';

const { entry } = Astro.props;
const { title, date } = entry.data
const dateString = new Date(date).toLocaleDateString()
---
<Layout title="Blog">
  <h1>{title}</h1>
  <p class="post-date">{dateString}</p>
  <div class="content-spacer"/>
  <slot />
  <div class="content-spacer"/>
  <a class="link" href="/posts">{`🔙 All Posts`}</a>
</Layout>

<style>
  .post-date {
    margin: 0;
  }
  .content-spacer {
    height: var(--space-2xl);
    margin: 0;
    padding: 0;
  }
</style>